@import "tailwindcss";

:root {
  --background: #f9fafb; /* gray-50 */
  --foreground: #111827; /* gray-900 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
